@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "../src/themes/mystore/generated/design-token-theme.css";
@source "../src";

html, body, #storybook-root {
  font-family: var(--font-sans, "Roboto", sans-serif);
  background-color: var(--color-surface-lightest);
  min-height: 100vh;
}
